.light {
  border: 0.1em solid black;
  height: 10em;
  margin-bottom:5px;
}

.light-on {
  background: yellow;
}

.container {
  width: 80%;
  text-align: center;
  margin: auto;
}

.column {
  width: 19%;
  display: inline-block;
}
